[2019-05-06 11:08] anjj123 opened #48 "Balance Update only queries for first account created"
There are two sub-issues here:

1. Balance is only updated for the first account; and

2. Lets say the first account created is called 'A', and I import a second account called 'B'. I change to account B. It will display the balance as '0' or 'N/A'. If I send DOTs to A, it will change B's balance from 0 to the balance of A.

[2019-05-06 11:12] anjj123 opened #49 "Firefox: Can't import or drag keyfile for 'import account'"
When importing an account from the dashboard and selecting 'import via keyfile', both options (either by dragging or clicking to import the file) are not possible on Firefox because the browser extension closes and resets back to the dashboard.

[2019-05-06 11:25] anjj123 opened #50 "Create Account via Dashboard allows user to click back to change password, resulting in strange behaviour"
User is able to click back and change passwords, which leads to weird bugs: one of which involved the mnemonic confirmation not registering. Also, its not clear to the user what password is required to decrypt the keyfile (At the moment, its the very first one used to login) - especially if they click back thinking they can change it.

Possible solution: A new restrictive screen for creating accou

[2019-05-06 11:31] anjj123 opened #51 "Default Account Naming Conventions (create + import)"
If user doesnt type in an account name on creation or import, we need the wallet to assign a default name that increments sequentially and doesn't duplicate (such as Account 1, Account 2 etc)

[2019-05-06 11:37] anjj123 opened #52 "General Dashboard UX Enhancements #1"
Dashboard UX Enhancements list:

1. Dashboard should display the custom name of the account and not "My Polkadot Wallet"
2. Dashboard should display the newly created account and not go back to the previous account
3. Can't see or copy full public key anymore (suggestion: make the account icon clickable to copy address, and have a '+' icon appear when mouse hovers over it)
4. Closing and opening e

[2019-05-06 11:44] anjj123 opened #53 "Account Selection Dropdown UX Enhancements #1"
List of Account Selection Dropdown UX Enhancements:

1. Line separating accounts, and creation + import should not be selectable;

![Screen Shot 2019-05-06 at 4 15 48 pm](https://user-images.githubusercontent.com/39804936/57222995-f3654500-7047-11e9-93b6-1bacf208555a.png)

2. The highlighting effect when cursor moves over options isn't noticeable enough;

3. Dropdown highlight selection always def

[2019-05-06 11:50] anjj123 opened #54 "Top Toolbar UI Enhancements #1"
List of UI enhancements for the top toolbar:

1. Polkadot at the top should be accompanied by the polkadot icon (also, it should be viewable when clicked);

![Screen Shot 2019-05-06 at 4 07 35 pm](https://user-images.githubusercontent.com/39804936/57223151-78e8f500-7048-11e9-9879-5b03fbaf34ba.png)

![icon@2x](https://user-images.githubusercontent.com/39804936/57223290-e72db780-7048-11e9-91c5-5fd12

[2019-05-06 12:03] anjj123 opened #55 "Dashboard UI Enhancements #1"
List of Dashboard UI Enhancements:

1. Firefox: Dropdown selection sits under Account Name (also, we need to enforce character limits for Account Names so that it doesn't flow past the screen or push the drop down below the name)

![Screen Shot 2019-05-06 at 3 56 08 pm](https://user-images.githubusercontent.com/39804936/57223471-8783dc00-7049-11e9-89a2-12939d69d932.png)

2. Contents need to sit cl

[2019-05-06 12:11] anjj123 opened #56 "Bottom Toolbar UI Enhancements #1"
List of bottom toolbar UI enhancements:

1. Have selected option stay highlighted;

2. Can we have icon colors reflect color theme chosen by user (or a universal lighter color closer to designs)

[2019-05-06 12:12] anjj123 opened #57 "Clicking on 'Home' doesn't return the user to their dashboard"
Clicking on Home should return the user to the dashboard - especially when clicking on create/import screens, which they can get stuck on.

[2019-05-06 12:15] anjj123 opened #58 "Import Screen from Dashboard should keep the dropdown functionality at the top"
When user clicks on import from the dashboard account dropdown list, the option to click that dropdown list and return back to another account should still be available next to 'Import Existing Account' at the top.

![Screen Shot 2019-05-06 at 10 16 09 pm](https://user-images.githubusercontent.com/39804936/57224303-5d7fe900-704c-11e9-9b62-54e25b54e5ab.png)

[2019-05-06 12:17] anjj123 opened #59 "White corners on extension"
There are white corners on the extension that aren't viewable on other extensions

![Screen Shot 2019-05-06 at 10 18 11 pm](https://user-images.githubusercontent.com/39804936/57224385-a5067500-704c-11e9-9137-bb4e81ba3259.png)

[2019-05-06 12:19] anjj123 opened #60 "Balance N/A when opening extension - requires switching between accounts to fix"
Getting consistent N/A balances when opening extension. Requires me to switch between accounts a few times before it queries.

![Screen Shot 2019-05-06 at 10 19 23 pm](https://user-images.githubusercontent.com/39804936/57224502-02022b00-704d-11e9-85f6-b9d2727b6618.png)

[2019-05-06 12:22] anjj123 opened #61 "Add Remove Account Functionality"
Need to add remove account functionality

[2019-05-06 12:23] anjj123 opened #62 "Reposition Logout Button"
Need to reposition logout button to the top toolbar: either as a dedicated power button or as a dropdown under the profile icon

[2019-05-06 12:25] anjj123 opened #63 "Chrome: Minimising Browser and Accessing Extension Anomalous Behaviour"
When minimising the chrome browser and opening the extension, it sometimes freezes and when clicking on buttons/dropdowns opens a new window/tab in chrome. Minimising makes it easier to drag n drop files for import account, so this may be commonly experienced.

[2019-05-07 13:08] fyang1024 opened #64 "Import ed25519 account json file not working"
When user tries to import an ed25519 account by keystore file, it reports error

[2019-05-07 13:10] anjj123 commented on #64
Also had an issue where an account disappeared after attempting to do so. I'll see if I can repeat the issue.

[2019-05-07 13:13] fyang1024 commented on #49
This looks a Firefox bug. I tested Import Json on Metamask in Firefox, it has the same issue.
The issue were reported 3 years ago but hasn’t been fixed.
https://discourse.mozilla.org/t/how-to-load-file-into-webextension-popup/10134/3
https://bugzilla.mozilla.org/show_bug.cgi?id=1292701

[2019-05-07 13:24] fyang1024 commented on #60
This is probably because of slow network. The balance component originally waits up to 5 seconds to get balance. Now it's changed to 10 seconds to cater for sometimes slow internet. We now use Polkadot public test rpc endpoint. It may be slow or even down from time to time. Later on if Polkadot ecosystem has something like infura for Ethereum, we'll have highly available rpc endpoints. Or we can d

[2019-05-07 14:12] fyang1024 commented on #64
It turns out that 5FzwuR7AKDuMFyzvRDb4GtALSirgsAn5R4dmQio76Wfn9akc.json address checksum is incorrect, but Polkadot app chooses to ignore the checksum. Their code snippet has a comment about that.
[code]
I just changed our code to ignore checksum as well. I believe it should be removed at some stage.

[2019-05-08 00:24] anjj123 commented on #64
Cool, im going to leave this as on hold so we can revisit later and update accordingly

[2019-05-08 00:38] anjj123 commented on #64
I haven't been able to recreate this. Let's keep an eye on it.

[2019-05-09 11:48] #64 closed

[2019-05-09 11:52] ttaoS commented on #63
Could you please provide steps to reproduce it or screenshots?

[2019-05-09 11:52] #60 closed

[2019-05-09 12:03] #49 closed

[2019-05-09 12:14] #48 closed

[2019-05-09 22:59] anjj123 commented on #63
I haven't been able to recreate this since. I'm not sure what changed, so I'll close it for now

[2019-05-09 23:00] #63 closed

[2019-05-09 23:01] anjj123 commented on #64
@fyang1024 do we need to keep note that we need to consider checksum later when they implement it? we should keep an issue on-hold so we don't forget later

[2019-05-09 23:02] anjj123 commented on #54
@fyang1024 I think is their new icon. The old one isn't viewable on their website or social media anymore.
![C5CMI7J0_400x400](https://user-images.githubusercontent.com/39804936/57491983-626dc280-7302-11e9-9346-2766585a8427.png)

[2019-05-10 00:16] fyang1024 commented on #64
I'll add a FIXME or TODO at that piece of code just like polkadot-ui

[2019-05-11 08:24] ttaoS commented on #52
@anjj123 I have done some improvements for this issue. Could you please verify it when you have time? You can close it if all items have been addressed.

[2019-05-11 14:14] hskang9 opened #65 "SessionStorage for Account creation process"
# Problem
Opening a popup in chrome extension means it is reloading the web app, and it will not save the last state upon account creation.

# What I can do
Apply sessionStorage
[source](https://stackoverflow.com/questions/9089793/chrome-extension-simple-popup-wont-remain-in-last-state)

# Cute animal picture

![image](https://user-images.githubusercontent.com/12888144/57570950-89cba900-7442-11e9-

[2019-05-12 05:48] anjj123 opened #67 "Sending transaction to one account, updates the balance for other accounts"
When the balance of one account is updated (e.g. someone sends DOTs to it), it changes the currently selected accounts balance to the recipient account.

**Steps to reproduce**

1. Select an account in the wallet;
2. Send dots to another account in the wallet (that account must have a minimum of 103 dots to be recognised in the nodedb);
3. Balance will update for the currently selected account

**

[2019-05-12 07:15] #52 closed

[2019-05-12 07:22] anjj123 opened #68 "Firefox: UI Bug List"
Forefox has some weird UI bugs that aren't present on the chrome extension

1. ~Account Drop down menu causes the background to turn white~ Partially fixed. Name turns into a grey box now, and background still turns white if Account Name is too long
![Screen Shot 2019-05-12 at 2 49 31 pm](https://user-images.githubusercontent.com/39804936/57579038-a1a23c00-74d9-11e9-9c5a-a837ebaf5e71.png)

~2. If

[2019-05-12 11:00] mytechtip commented on #53
Hi @anjj123 , except no.8, the rest of the items have been improved or fixed.  Please verify. Thanks.

[2019-05-12 12:35] ttaoS commented on #50
the issue is resolved. the create password step will be only enable if there is no account created.

[2019-05-13 10:29] mytechtip commented on #68
It appears the white background while hovering over the dropdown is caused by the semantic UI buttons on the dropdown. Will do more investigation to work around it.

[2019-05-13 11:08] fyang1024 commented on #67
It should be fixed now. updateBalance is pure function now which accepts address as parameter instead of reading from component props, so that it should keep address and balance result in sync

[2019-05-13 11:22] anjj123 commented on #54
@fyang1024 all changes look good, except the 'speckle' logo in the top left is too small. can we make this larger?

[2019-05-13 11:24] anjj123 opened #69 "Add edit account name functionality"
Need the ability to edit account name

[2019-05-13 11:27] anjj123 commented on #50
I think this works for now. Later create account should have its own screen and ill create a related issue for us to look at when we get time

[2019-05-13 11:28] #50 closed

[2019-05-13 11:29] anjj123 opened #70 "Create Account from Dashboard should have its own restrictive screen"
Creating an account from Dashboard should have its own screen (like import), and not take the user back to the 1-2-3 steps. This is required:

1. for general consistency;
2. to avoid confusion; and
3. to avoid step 3 when implemented

[2019-05-13 11:30] anjj123 opened #71 "Create Account from Dashboard should have its own restrictive screen"
Creating an account from Dashboard should have its own screen (like import), and not take the user back to the 1-2-3 steps. This is required:

    for general consistency;
    to avoid confusion; and
    to avoid step 3 when implemented

[2019-05-13 11:34] anjj123 commented on #53
Most of these are completed. There are still some issues:
1. Highlighting effect doesn't apply to create/import account options;
2. Text for account names is too small and hard to read;
3. There is a performance issue where once you add an account with a balance, it sometimes doesnt register clicks when switching between accounts and may require double or triple clicks; and
4. (As you said) abilit

[2019-05-13 11:38] anjj123 commented on #67
Issue is still live for me

[2019-05-13 11:41] anjj123 commented on #65
@fyang1024 @ttaoS @mytechtip do we need this?

[2019-05-13 12:18] fyang1024 commented on #67
@anjj123 put a temp fix now by removing balance subscription. The downside is until you switch account you cannot see updated balance if any. But it's better to show outdated balance than other account's balance, I guess.

[2019-05-13 13:16] mytechtip commented on #68
The fix is not perfect as now the colour for the current account becomes gray when the drop down is hovered over. This is the best I can do so far.

[2019-05-13 13:29] mytechtip commented on #53
1. the hover over effect on create/import account buttons causes the weird white screen issues on firefox. I would leave this as low priority.

2. Adjusted the font size of account names in #68

3 does it happens when **adding/importing** an account or when switching between accounts?

4 this could be a future enhancement

[2019-05-14 07:26] #67 closed

[2019-05-14 07:27] anjj123 commented on #67
For records: a new fix was put in and balance unsubscription was patched in.

[2019-05-14 07:28] anjj123 commented on #68
Ill drop this down to low priority for now. There are other oddities, such as the background turning white again if the Account Name is too long. We need to enforce max characters for account names.

![Screen Shot 2019-05-09 at 9 56 24 pm](https://user-images.githubusercontent.com/39804936/57679003-aef02f80-766d-11e9-86ce-06d91c0952e1.png)

[2019-05-14 07:31] anjj123 opened #72 "Mnemonic confirmation clickable buttons and randomised order"
Need the mnemonic confirmation screen to have clickable buttons with a randomised order.

Need to also prevent copy/pasting mnemonic for confirmation. This is to ensure the user has recorded their backup phrase correctly.

[2019-05-14 07:36] anjj123 commented on #53
1. Understood and agreed.

2. Perfect.

3. Switching between accounts.

4. Understood and agreed.

New issue:
1. If Account name is too long, it causes bugs in the dropdown (such as scrollbar disappearing). Solved by enforcing Account Name character limits.

![Screen Shot 2019-05-14 at 5 33 05 pm](https://user-images.githubusercontent.com/39804936/57679482-c7ad1500-766e-11e9-9285-2377d6db4020.png)

[2019-05-14 07:40] anjj123 opened #73 "Dashboard should default to the newly imported account, and not the previously selected account"
Dashboard currently does not default to a newly imported account, and stays on the previously selected one.

[2019-05-14 07:41] #54 closed

[2019-05-14 10:37] fyang1024 commented on #55
All the 3 changes have been done. @anjj123 please test and close it if they look ok

[2019-05-14 11:08] fyang1024 commented on #68
@anjj123 the gray background issue is fixed now. Also account name is restricted to 32 chars. Long existing names will be shortened to display. Please test it and close it if they are ok.

[2019-05-14 11:33] fyang1024 commented on #59
<img width="903" alt="Screen Shot 2019-05-14 at 9 31 26 pm" src="https://user-images.githubusercontent.com/20808865/57694669-af99bd80-768f-11e9-836a-7f0280da5635.png">
@anjj123 it seems from the background image. You'll need to ask designers to change the SVG file

[2019-05-14 11:43] fyang1024 commented on #58
Discussed with @ttaoS this change require big change of the dropdown component on dashboard, which will take some time. Since now user can click Home at bottom menu, we'll come back to it later.

[2019-05-14 11:44] fyang1024 commented on #69
@anjj123  We probably need some idea of where to edit the account name, or some UI design.

[2019-05-14 11:56] anjj123 commented on #69
I was thinking by clicking on the name itself. Hovering over it has a pencil icon or something but I can see this conflicting with the dropdown. Ill have a think about it. Let me know if you have some suggestions.

[2019-05-14 11:57] anjj123 commented on #58
Yep, im dropping this to low priority for now.

[2019-05-14 12:01] anjj123 commented on #59
Good catch. Looks like it was designed to be rounded, rather than squared. Ill fix this up asap

[2019-05-14 12:01] fyang1024 commented on #53
I cannot seem to reproduce the issue that switching accounts requires multiple clicks. @anjj123 please try to reproduce it and see if there is any pattern so that we can reproduce it and debug. Other than that, everything should be fixed now.

[2019-05-14 12:02] anjj123 commented on #53
You can see it on the gif i provided in the balance bug that we recently completed. The pattern seems to be that once I import an account with a balance, there is a performance issue with switching accounts

[2019-05-14 12:04] anjj123 commented on #67
@fyang1024 gif above, you can see I had to click on "imported account" twice to switch for example

[2019-05-14 12:18] anjj123 commented on #53
@fyang1024 I have reproduced the issue again here
![ezgif com-video-to-gif (2)](https://user-images.githubusercontent.com/39804936/57697279-35206c00-7696-11e9-91cd-b7c868654c32.gif)

[2019-05-14 12:24] anjj123 commented on #68
@fyang1024 issue is still live for me. It may be related to the character limit. Maybe try reducing it to 28 chars and see if it fixes.Also, even at 32 chars its still causing bugs if user uses all numbers or caps only

![Screen Shot 2019-05-14 at 10 25 05 pm](https://user-images.githubusercontent.com/39804936/57697642-179fd200-7697-11e9-86d8-71f7c34377e5.png)

[2019-05-14 12:25] #55 closed

[2019-05-14 12:29] anjj123 commented on #69
@fyang1024 @ttaoS Im thinking we may need a separate button somewhere on the dashboard that provides the option to edit account name or remove account. Ill do some sketches tomorrow and get your feedback. Related to the remove account functionality.

[2019-05-14 12:32] fyang1024 commented on #68
@anjj123 I didn't change the 32 chars limit, as I am afraid users may complain it's too restricted. Instead I display a shortened name if it's over 28 chars.

[2019-05-14 12:44] anjj123 commented on #68
@fyang1024 I agree with your change. It looks much better but the bug still persists on firefox. Character limit isn't the issue.

![Screen Shot 2019-05-14 at 10 42 56 pm](https://user-images.githubusercontent.com/39804936/57698796-c6dda880-7699-11e9-8ccc-95032bd7e960.png)

[2019-05-14 13:09] ttaoS opened #75 "small white gap displays when hovering on the account address"
![image](https://user-images.githubusercontent.com/37568337/57700312-107bc280-769d-11e9-8c20-871ed203f7b9.png)

Test browser: Google Chrome Version 74.0.3729.131

[2019-05-14 14:12] fyang1024 commented on #65
Thank @hskang9 for raising the issue. Yes, currently we don't persist every state in either session storage or local storage now, which means when the extension popup close, some state is lost, so that user sees a different screen when they open the extension again.
We do persist the following states in local storage:
* whether or not it's the first time the user uses the extension.
* color
* sele

[2019-05-15 01:35] #73 closed

[2019-05-22 00:50] anjj123 commented on #65
One example (and a topic commonly received from feedback) is storing the mnemonic in a pwd manager or some other offscreen software. When closed, the extension restarts the process and so it's practically impossible to store the seed in any way other than writing it down.

Could we persist the mnemonic and/or the user's current step in creating a wallet in sessionStorage for an allotted period of

[2019-05-23 12:22] Tbaut opened #78 "Onboarding experience feedback"
As promised, here is the issue recap of my on-boarding experience and the little quirks or remarks I have.

First of all it looks nice, great job !
When testing I usually put myself in the situation of a real use case, as if I was on mainnet. I wanted to do things well and when creating my account I decided to store the seed in a password manager. So when the extension is giving me a seed, I copy/

[2019-06-13 02:11] #72 closed

[2019-06-13 13:13] ttaoS opened #84 "Account creation/confirm mnemonic flow issue"
1. On initial account creation process - If a user closes extension screen at the mnemonic generate or confirm step, the user will be taken back to enter their new password when they open extension next time, which may be confusing if they have already done so - it should take them directly back to the mnemonic seed; To achieve this, we may need to store password temporarily but we probably need a

[2019-06-16 03:35] fyang1024 opened #86 "Upgrade polkadot libs to support edgeware nodes"
While speckle is still using `@polkadot/api 0.76.1` and `@polkadot/keyring 0.76.1`, `@polkadot/api 0.81.1` and `@polkadot/keyring 0.93.1` are already released as of writing.
`edgeware-node-types` relies on those new libs, hence speckle cannot support edgeware until we upgrade to those versions. Certain interfaces are changed in those versions, `keyring-vault` needs to be updated accordingly

[2019-06-17 11:54] fyang1024 opened #87 "Generate QR code for receiving address"
It'll be handy for a mobile wallet with QR code scanning function to transfer funds to the address in the extension.

[2019-06-17 12:20] hskang9 commented on #87
I think we would need receive button or get it by clicking identicon on dashboard.

[2019-06-17 12:24] fyang1024 commented on #87
yeah, a bit of extra UI is required

[2019-06-18 01:55] anjj123 opened #88 "Account compatibility with Polkadot JS Apps"
We need accounts created in the extension to be automatically detected and compatible with the polkadot.js.org/apps

[2019-06-18 13:52] fyang1024 commented on #56
<img width="373" alt="Screen Shot 2019-06-18 at 11 52 01 pm" src="https://user-images.githubusercontent.com/20808865/59690103-2a706e00-9224-11e9-8655-95d8e04d9585.png">

[2019-06-18 13:55] #56 closed

[2019-06-19 12:30] anjj123 opened #89 "Global Settings (Change Colour Theme and Log Out)"
Settings list in the top right toolbar.

Breakdown of designs and functionality:
![Screen Shot 2019-07-24 at 11 20 57 pm](https://user-images.githubusercontent.com/39804936/61797031-fb27cf00-ae69-11e9-89ca-9704b2821cc5.png)
1. User clicks top right profile icon, and it drops a number of options (similar to this animation: https://codepen.io/balapa/pen/zvObzO -  but not as dramatic and not with exp

[2019-07-01 11:35] anjj123 opened #95 "Chain selection screen"
We need third step in the account creation process, which prompts user to select the substrate chains they want to use. By default, we should have Polkadot Relay Chain auto-selected and Edgeware as an option.

![Screen Shot 2019-07-01 at 9 40 04 pm](https://user-images.githubusercontent.com/39804936/60433436-2abb3100-9c48-11e9-8763-1c8335bb1036.png)

[2019-07-14 11:57] fyang1024 opened #101 "Move api (network connection) to background to improve UX"
Currently api (network connection) is opened when user opens extension and closed when user closes the extension. The benefit is there is no unnecessary network connection. The side effect is user may experience waiting time for first balance display (It takes about 3 seconds to establish an api connection).

If we move the api connection to background, that means once user opens browser, the conn

[2019-07-16 12:36] EdwardAThomson commented on #78
Yep! I'd still like to see this flow updated. :-)

Doing another round of testing and when I lose focus on the extension (e.g. to save my seed phrase), it takes me back to the start. In the current test it didn't generate a new account at least.

[2019-07-18 14:56] hskang9 commented on #101
Another benefit would be that user can check the query instantly after the extension is open. It takes time to connect the api, and we cannot rely on loader every time.

[2019-07-19 06:23] #88 closed

[2019-07-20 14:45] Web3Foundation commented on #84
@eswarasai you've been approved to start work.

[2019-07-21 00:06] fyang1024 commented on #101
Just thought of a downside of this approach - if we keep connection at background, there will be probably many many open connections to rpc endpoints if many people use Speckle. Those open connections will be a big burden on the rpc endpoint.

[2019-07-22 17:18] eswarasai commented on #84
@ttaoS - Let me know if the below suggested flow sounds good to you before me diving into the dev:

1) I'll save the password in the `LocalStore` upon clicking next in the first step. Also, I'll add the current timestamp to the `LocalStore` and let the extension check for whether the password has expired or not which can be somewhere around between 24 - 48 hours. Let me know how long would you lik

[2019-07-23 10:11] ttaoS commented on #84
1. i would suggest store the temp pwd in extension background memory (the popup communicate with background via messages) rather than persisting it in browser local storage. We may also need to provide unmask password feature so that users can confirm their password before creating accounts.

2. Yes. Right now mnemonic won't be re-generated until it has been used to create an account successfully.

[2019-07-23 10:18] ttaoS commented on #84
Also, we probably keep the timer to 5 mins (maybe with a visual timer or something) for the temp password. We should also apply timer on mnemonic re-generation which is more secure approach.

[2019-07-23 17:43] eswarasai commented on #84
@ttaoS - Thanks for clarifying my queries. I'll implement the first task as described in the earlier comment with 5 mins timer. I have a quick question related to the timer for mnemonic re-generation as you've confirmed that we're not regenerating it until we've successfully created an account. So where and when should this be applied exactly? Thanks!

[2019-07-23 17:48] hskang9 commented on #101
Obviously yes. Should we have users select networks in limited number when creating an account?

[2019-07-24 13:36] #95 closed

[2019-07-24 13:37] #62 closed

[2019-07-24 13:38] anjj123 commented on #84
@eswarasai it will be re-generated after the timer elapses. So the user has to finish creating their account within the allotted time.

[2019-07-24 13:39] anjj123 commented on #78
This is being worked on in another issue! Thanks for the feedback :)

[2019-07-24 13:39] #78 closed

[2019-07-24 13:41] anjj123 commented on #65
@hskang9 @fyang1024 is this still a live issue? we have the account creation flow being worked on atm or are we considering persisting other states in storage?

[2019-07-24 13:43] fyang1024 commented on #65
I believe it can be closed. Correct me if I am wrong @hskang9

On Wed, 24 Jul 2019 at 11:41 pm, Antoine <notifications@github.com> wrote:

[2019-07-24 14:20] hskang9 commented on #65
Yes it can be closed for this. Mnemonic is persisted after closing. Timer is left for now for design and implementation and I think it should be on a separate issue.

[2019-07-24 21:04] x5engine commented on #84
any help needed?

[2019-07-25 06:35] anjj123 opened #103 "Generate QR codes for Public Keys"
Full breakdown:
![Screen Shot 2019-07-25 at 4 33 27 pm](https://user-images.githubusercontent.com/39804936/61851354-0e827b00-aefa-11e9-9173-e56c96369607.png)

1. Clickable QR code button sits next to the public key
2. QR code needs to change for each account selected in the dropdown
3. When clicked, the body of the extension below the banner fades out and the QR code screen fades in (needs to also

[2019-07-25 06:36] anjj123 commented on #87
Issue referenced here: https://github.com/SpeckleOS/speckle-browser-extension/issues/103

[2019-07-25 06:36] #87 closed

[2019-07-25 14:12] fyang1024 commented on #51
@anjj123 please check out the latest master and test it. The default account name should be Account N, where N is the number of current accounts plus 1. Say, if you have accounts `cool`, `anjj123` already, when you create an account or import an account by phrase, the default name will be `Account 3`.

 If you import keystore file, no default account name will be assigned, as keystore file usually

[2019-07-27 02:48] edsonayllon commented on #103
I can consult with one of the devs or product designers to ensure the final result is what is desired for Speckle.

[2019-07-27 16:23] eswarasai commented on #84
Cool, thanks for confirming the required user flows. Apologies for not responding earlier. I'll pull up a WIP PR in the next couple of days :)

[2019-07-27 18:46] mul1sh commented on #89
@gitcoinbot oh sorry didn't know I was approved let me start right on this issue 🙂

[2019-07-30 15:57] bshevchenko commented on #103
On it

[2019-07-30 20:36] bshevchenko commented on #103
@anjj123 could you send me please icon source file or push it to the repo?

[2019-07-30 22:39] bshevchenko commented on #103
@anjj123 icon image is the only todo left, the rest you can review here #106

[2019-07-31 14:41] Web3Foundation commented on #103
Please confirm merge so I can payout when possible @anjj123 @mytechtip

[2019-08-01 00:35] fyang1024 commented on #103
HI @Web3Foundation , I have just merged the PR as an admin. We reviewed the PR together last night, so even though it appears only @mytechtip reviewed the PR, it was actually 3 of us.

[2019-08-02 11:22] bshevchenko commented on #103
@Web3Foundation hey could we please close this one, so I can apply for another bounties. otherwise I'm blocked since there is a limit of 3 maximum bounties at a time

[2019-08-02 14:15] eswarasai commented on #84
@ttaoS @anjj123 - I've just opened up a WIP PR #108 for this issue. I've slightly modified the UI/UX of the 1st task to not take user directly to step 2 to generate mnemonic based on above discussion. Step 1 will be shown where the password field will be pre-emptively filled in case the user comes back to the extension before the said time interval of 5 minutes. I hope that's fine.

I'll update th

[2019-08-02 16:16] mul1sh commented on #89
@gitcoinbot yep I am, already submitted a WIP PR, will finish it over the weekend 😃

[2019-08-05 15:26] Web3Foundation commented on #103
@bshevchenko yes! Paid out now.

[2019-08-06 12:11] mul1sh commented on #89
@anjj123 can I just hide the 4 polka dots in the top bar when showing the `settings` buttons instead of resizing it because its making the dropdown look kinda squished?

[2019-08-07 13:40] satyamakgec opened #111 "How do I connect the wallet with the Local chain (Substrate based chain) ?"

[2019-08-07 16:14] bshevchenko commented on #103
@Web3Foundation thank you! could you please rate me on the gitcoin.co?

[2019-08-07 18:11] mul1sh commented on #89
@fyang1024 @anjj123  any help with the above query? Thanks 🙂

[2019-08-08 06:23] #103 closed

[2019-08-08 06:24] anjj123 commented on #89
@mul1sh do you have any examples of what it will look like in both scenarios?

[2019-08-08 06:39] anjj123 commented on #84
@eswarasai does that mean the user can also edit that pw field if they so wish?

[2019-08-08 07:56] eswarasai commented on #84
@anjj123 -- Yep, users can edit the password if the initial account creation process hasn't been completed. The reason for doing is pointed out by @ttaoS in one of the comments above :

`We may also need to provide unmask password feature so that users can confirm their password before creating accounts.`

[2019-08-09 00:58] Web3Foundation commented on #103
@bshevchenko no problem if you can link me where to rate you!

Would you mind filling out this 1 minute survey about your experience?

https://forms.gle/kgwMfahfofrNsAMC9

[2019-08-10 15:38] mul1sh commented on #89
@anjj123, yes I do and sorry just seeing your comment now. But let me do a PR in a bit from fork so that you can see what I mean

[2019-08-14 12:10] eswarasai commented on #84
@anjj123 @ttaoS -- Have you guys had a chance to take a look at the PR #108?

[2019-08-14 12:51] mul1sh commented on #89
@gitcoinbot doing my final test now and then I submit in a few hours 😃

[2019-08-18 12:52] mul1sh commented on #89
@gitcoinbot done testing submitting in a few 😃

[2019-08-21 14:13] mul1sh commented on #89
@gitcoinbot  fixing a small bug in the animation I noticed :( , but pushing in less than 4 hours

[2019-08-24 15:46] mul1sh commented on #89
@gitcoinbot all bugs finally fixed, doing final test and then I push 😃

[2019-08-28 15:21] mul1sh commented on #89
@gitcoinbot testing done, pushing now :)

[2019-09-01 11:51] mul1sh commented on #89
@gitcoinbot just a bit almost there :)

[2019-09-02 19:05] anjj123 commented on #89
@mul1sh can you give an estimated deadline for this?

[2019-09-03 12:22] mul1sh commented on #89
@anjj123 Today, sorry for long delay, this was tougher than I expected but in less than 5 hours it will be ready to test.

[2019-09-03 16:48] mul1sh commented on #89
@anjj123 Sorry for delay, but I'll be done in less than 16 hours from now, just fixing one last bug and then I'm done.

[2019-09-08 15:45] mul1sh commented on #89
Ok finally done bug fixing 🙂 pushing now and then submitting the issue to gitcoin

[2019-09-15 13:21] #89 closed

[2019-09-15 13:25] mul1sh commented on #89
@Web3Foundation this is done :) thanks

[2019-09-17 14:13] mul1sh commented on #89
@Web3Foundation when can I expect a payout so as to free my gitcoin issue count? thanks 🙂

[2019-09-17 20:41] anjj123 commented on #89
@Web3Foundation we are ready to close up this bounty :)

[2019-09-18 02:41] Web3Foundation commented on #89
Paid

[2019-09-18 13:58] Web3Foundation commented on #89
Sorry the ethereum network is being quite slow; and failing transactions left and right. Will send through as soon as it's in working order.

[2019-09-18 14:00] Web3Foundation commented on #89
Actually looks like it posted here; just didn't update on the UI from gitcoin, https://etherscan.io/tx/0xfbd712f72218aa900bf4f9d713c73d8feed8b94d3d21f04acb64646d73a3d90b

[2019-09-18 14:04] mul1sh commented on #89
@Web3Foundation yeah thanks, I received the payout earlier today :)

[2019-12-16 12:44] #84 closed

[2020-08-24 07:48] jacogr opened #138 "Support for injected accounts & polkadot-js/apps"
Sadly I have not been following development as closely as I want to as a user. So instead of figureing things out, I'm logging.

If the extension has the capability to inject accounts in dapps, I would really it listed as a supported extension on the polkadot-js/apps UI. Specifically here - https://github.com/polkadot-js/apps/blob/master/packages/apps-config/src/extensions/index.ts#L14

So when a

[2020-11-16 17:48] hskang9 opened #140 "Unknown error code 1010"
![image](https://user-images.githubusercontent.com/12888144/99288556-1e586800-287f-11eb-8751-f75b368b45ad.png)

After the recent update for Polkadot JS API, the error shows whenever the transaction happens. @jacogr can you describe error with the code 1010?

[2020-11-16 19:11] jacogr commented on #140
It is anything signature related -

- signed extensions not passed through and mismatching with the metadata as supplied
- era is invalid
- blockhash (genesis or era-specific) is invalid
- spec version (on the payload) is invalid
- transaction version (on the payload) is invalid

i.e. anything that makes up the transaction part. What is a recent API update? the only format changes on extrinsics in

[2020-11-17 03:43] hskang9 commented on #140
Ok then it seems the problem comes with the transaction payload. I think the problem here is now either speckle-browser-extension currently gets metadata from its state or value for transaction payload is wrong. @jacogr can you check if there is something wrong with the current signer payload value [here](https://github.com/GetSpeckle/speckle-browser-extension/blob/8953b00f8553557ae69f436f74e2aad3

[2020-11-17 10:06] jacogr commented on #140
Are you injecting the correct extensions? e.g. https://github.com/polkadot-js/extension/blob/master/packages/extension-base/src/background/RequestExtrinsicSign.ts#L19

[2020-11-18 06:19] fyang1024 commented on #140
Hi @jacogr Yes, the signer does inject extensions. https://github.com/GetSpeckle/speckle-browser-extension/blob/8953b00f8553557ae69f436f74e2aad3dcb43a71/src/ts/background/services/keyring-vault.ts#L295
And the extensions is passed in payload https://github.com/GetSpeckle/speckle-browser-extension/blob/8953b00f8553557ae69f436f74e2aad3dcb43a71/src/ts/components/transaction/Send.tsx#L180
And the payl

[2020-11-18 10:14] jacogr commented on #140
Ok, so the above code, I cannot follow at all - like I mentioned, it seems like a duplication of something the the API and I cannot tracks and follow it at all.

So what I would suggest -

- log the hex payload as it gets passed through to signing (this means it doesn't have any prefixes, exactly as to be signed), decoding that hex should show if everything is there for a known chain
- logging the

[2020-11-19 13:38] jacogr commented on #140
Any update in terms of hex?

[2020-11-20 04:39] fyang1024 commented on #140
Hi @jacogr @hskang9 and I will work together on this issue this Saturday. Hopefully we can solve it, otherwise we'll log the hex payload and signature and seek your advice. Thank you

[2020-11-20 08:15] jacogr commented on #140
It will be quite quick to decode it (20+ mins), so please do share. It may show some light.

[2020-11-20 11:13] fyang1024 commented on #140
Hi @jacogr, here are the log

hex payload: `0xa00400c447b9ce86e7e271971500b09e648457daf4c8126df1783cfcf71d93ce6f5b1e0700e40b540200ec00ea070000b0a8d493285c2df73290dfb7e61f870f17b41801197a149ca93654499ea3dafeb0a8d493285c2df73290dfb7e61f870f17b41801197a149ca93654499ea3dafe`
signature:
`0x01a209d4c849d516df742b70e4a7791634a4d7d3fdc530a7ac3ee9d55567c3a76a539c0c433b108459b7b6180d93e903714038bfb61fef5926

[2020-11-20 12:53] jacogr commented on #140
Manual decoding, no tool. Will check in around 60 mins.

[2020-11-20 12:55] jacogr commented on #140
Just looking, not sure the first byte should be there for the part that is signed - the length encoding for the payload part of the call should not be there.

[2020-11-20 12:56] hskang9 commented on #140
👀ok

[2020-11-20 12:56] jacogr commented on #140
(Byte 2 and 3 is correct, since it refers to a transfer). So if that is what is signed the encoding format is incorrect - the toU8a should be done without length encoding.

[2020-11-20 13:02] jacogr commented on #140
I may be wrong will check shortly against the extensions for the chain which determines this all.

[2020-11-20 13:17] jacogr commented on #140
Indeed. Your encoding is incorrect.

https://github.com/polkadot-js/api/blob/master/packages/types/src/extrinsic/ExtrinsicPayload.spec.ts#L43

[2020-11-20 22:25] fyang1024 commented on #140
Thank you @jacogr we'll try to fix it today.

[2020-11-21 13:32] fyang1024 commented on #140
Hi @jacogr We did the same transaction (transfer 10 milliKSM from Account A to B) using \Polkadot JS app and Speckle and logged the SignerPayloadJSON, then we compared them and found some differences

The SignerPayloadJSON generated from polkadot js app looks like this
[code]
While the SignerPayloadJSON generated by Speckle looks like this:
[code]

We notice that there are 3 differences:

1. block

[2020-11-21 19:26] jacogr commented on #140
The signed extensions are different.

[2020-11-26 10:45] hskang9 commented on #140
Is there a way to get ExtrinsicEra from polkadot-js api? Or would it not matter to send transaction?

[2020-11-26 11:05] jacogr commented on #140
The issue here is that the code seems to duplicate/redo what is in the extrinsic definitions by managing own payloads. If you just get the API itself to take care of it for you, you don't have these issues. You certainly don't need to worry about transaction versions, eras, nonces, etc. via any `.signAndSend` operation. The only hook should b to sign a payload.

I'm not sure I understand the quest

[2020-11-26 11:13] hskang9 commented on #140
True. The team rather builds extrinsic from botttom up and maybe we need to change how we build transaction.

[2020-11-26 11:32] hskang9 commented on #140
I expect the code will be a lot clear when it uses api. I am doing it.

[2020-12-11 20:22] #138 closed

[2020-12-11 20:22] #140 closed

[2020-12-11 20:23] #75 closed

[2020-12-11 20:23] #51 closed

[2020-12-11 20:24] #59 closed

[2020-12-11 20:24] #65 closed

[2020-12-11 20:25] #68 closed

[2020-12-11 20:25] #86 closed

[2020-12-11 20:35] anjj123 opened #143 "Phantom Public Key When Creating New Account"
When creating a new account, the first public key displayed by the wallet is not reproducible. If you click the account list, the public key displayed will be different.

Steps to reproduce:

1. Create New Account (e.g. 'Account 1')
2. Record first public key (the "phantom" address)
3. Click on account list drop down
4. Observe account public key
5. Click Account 1
6. Public Key changes

I have te

[2020-12-11 20:36] anjj123 opened #144 "Public Key doesn't automatically switch between chains"
An account's public key doesn't automatically change when switching between Kusama and Polkadot. This may cause the user to accidentally copy the wrong key.

This may not be a huge issue because funds are still received but exchanges will throwback errors and there may be other unforeseen consequences.

[2020-12-11 20:37] anjj123 opened #145 "JSON Restore no longer works"
Restoring by JSON has stopped working.
<img width="378" alt="json" src="https://user-images.githubusercontent.com/39804936/101952525-ca634980-3bc6-11eb-9364-321f56d1748f.png">

[2020-12-11 20:39] anjj123 opened #146 "Password not required when signing transactions from injection"
The extension asks for a password when signing transactions from injections (like in Polkadot.js.org/apps) but you can enter anything in the password field and it will send

<img width="372" alt="pw" src="https://user-images.githubusercontent.com/39804936/101952693-0d252180-3bc7-11eb-89b4-f1c01db5752d.png">

[2020-12-11 20:40] anjj123 opened #147 "Governance voting throws errors"
Receiving errors when submitting aye or nay votes inside the extension

<img width="380" alt="governance" src="https://user-images.githubusercontent.com/39804936/101952807-3c3b9300-3bc7-11eb-9d5e-f71a736868fe.png">

[2020-12-11 20:44] anjj123 opened #148 "Build Error (unused variables)"
<img width="564" alt="build" src="https://user-images.githubusercontent.com/39804936/101952971-86247900-3bc7-11eb-966e-a690701ffdf3.png">

I got around it by deleting the 2 unused imports from constants/chains.ts. Review and make sure this isn't critical

[2020-12-11 20:46] anjj123 opened #149 "Warning about existential minimums"
We need a warning somewhere (I'm thinking the send screen) that sending an amount that leaves an account below its existential deposit will cause a wipe of funds

Polkadot minimum: 1 DOT
Kusama minimum: 0.01KSM (?)

[2020-12-11 20:50] anjj123 opened #150 "Miscellaneous UI bugs"
1. Amount sent splices through recipient address when confirming extrinsic
<img width="374" alt="confirm" src="https://user-images.githubusercontent.com/39804936/101953354-34c8b980-3bc8-11eb-9c18-f35fce80d42a.png">

2. Error notifications hang across routes and pushes all information down (sometimes making it impossible to send transactions because the "confirm" button is offscreen)
<img width="36

[2020-12-11 20:54] anjj123 opened #151 "Governance UI Suggestions"
1. Have DOT/KSM amount of the account show somewhere on the screen (e.g. in the Amount field, so the user knows how much they can lock for their vote or keep the existing amount frame and make the progress bar smaller).

<img width="376" alt="governanceui" src="https://user-images.githubusercontent.com/39804936/101953803-08616d00-3bc9-11eb-9297-216e9485cc3c.png">

2. The Proposal/Referenda Tabs ar

[2020-12-11 20:56] anjj123 opened #152 "Throwback errors for wrong type of public key"
The address field should throw an error if a user enters a Kusama or other chain public key when sending from a  Polkadot account and vice versa (exchanges do this)

[2020-12-11 21:01] anjj123 opened #153 "Update TOS"
Note 2 Self

[2020-12-16 10:02] #148 closed